/* header */

div.h1 {
  margin-top: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

div.h2 {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 60px;
  color: #653B81;
  margin-top: 0px;
}

.navbar-nav>li>a {
    margin: 0 30px 0;
}

div.navbar-collapse {
    text-align: center; 
    line-height: 0;
}

nav.navbar {
    border-radius: 0;
}

ul.navbar-nav {
    display: inline-block; 
    float: none;
}

/* home page */
div.moto {
    margin-top: 40px;
    text-align: center;
    
    word-break: keep-all; 
    font-family: 'Satisfy', cursive; 
    font-size: 20px;
}

.parchment.center {
  background-image: url('../img/center.png');
  height: 420px;
  padding: 30px 0 0;
}

.parchment.left>img {
  float: right;
}

.parchment {
  padding-right: 0px;
  padding-left: 0px;
}

div.self-img-div {
    min-width: 375px; 
    padding-bottom: 50px;
}

.self-img {
    height: 340px;
}

.welcome-message {
    font-family: 'Parisienne', cursive;
    font-size: 40px
}

/* teacher page */

.lowered {
    margin-top: 20px;
}

.center-panel {
    padding: 5% 15% 5% 15%;
    margin: 0 auto;
}

.bamboo-part {
    width: 100%; 
    background-image: url('../img/bamboo_pattern.jpg');
    margin-left: 0;
}

.center-panel .col-md-4 {
    font-weight: 700;
}

.text-panel {
    text-align: left; 
    background-color: rgba(218, 245, 226, 0.88); 
}

.thumbnail-correction {
    padding: 10px; 
    border-radius: 0;
}

.text {
    font-family: 'Josefin Slab', serif;
    font-size: 18px; 
    word-break: keep-all;
}
.text.body {
    text-indent: 1em;
}

.panel-footer {
    height: 40px;
}

/* lessons page */
.waves-part {
    width: 100%;
    background-image: url('../img/urban_pattern.jpg');
    margin-left: 0;
}

.glyphicon {
    font-size: 30px;
    
}

.lesson-block {
    background-color: rgb(176,199,219);
    padding: 20px; 
    text-align: center; 
    border: 6px solid white;
    margin: 10px;
    height: 170px;
}

.tall-lesson-block {
    padding: 20px 5px 0;
    height: 200px;
}

.image-block {
    padding: 0; 
    overflow: hidden;
}

.green-block {
  background-color: #D0F6E1;
}

.pink-block {
    background-color: #FFC7F1;
}

.yellow-block {
    background-color: #FFF0D1;
}

.purple-block {
    background-color: #D7B8D8;
}

.high-span {
    margin-bottom: 20px;
}

/* contact page */
.stripe-part {
    width: 100%;
    background-image: url('../img/grey_pattern.jpg');
    margin-left: 0;
}

.bolder {
    font-weight: 700;
}


