<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Piano Lessons | Elena Akopova | Sunnyvale | Mountain View | Classical Piano Studio</title>

    <!-- Bootstrap -->

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
    <script src="angular/angular.js"></script>
    <!--<script src="angular/angular-animate/angular-animate.js"></script>-->
    <!--<script src="angular/angular-bootstrap/ui-bootstrap.js"></script>-->
    <script src="angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href="css/index.css" rel="stylesheet">
    <script src="js/app.js"></script>
</head>
<body ng-app="studio">
<span ng-controller="IndexController as index">
<div class="h1">CLASSICAL PIANO STUDIO</div>
<div class="h2">Elena Akopova</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="section in index.sections" ng-class="{ active: index.isActive(section.toLowerCase()) }">
                    <a ng-click="index.activateSection(section.toLowerCase())">{{section}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-show="index.isActive('home')">

    <div class="row">
        <div class="col-xs-2 parchment left">
            <img src="img/left.png"/>
        </div>
        <div class="col-xs-8 parchment center">
            <div class="col-md-5" class="self-img-div">
                <img src="img/carousel1.jpeg" class="self-img img-thumbnail"/>
            </div>
            <div class="col-md-6">
                <div class="welcome-message">
                    Welcome to my studio!
                </div>
                <div class="moto">
                    "...Music education is essential to being a human. For me teaching piano is a beautiful journey to discover life through the sounds of such a magical musical instrument as piano. In my students I value their unique personalities, musical talent and dedication to work. I am committed to helping my students acquire skills necessary to express their musical ideas, feelings as well as demonstrate their competency within any musical environment..."
                </div>
            </div>
        </div>
        <div class="col-xs-2 parchment right">
            <img src="img/right.png"/>
        </div>
    </div>
</div>

<div ng-show="index.isActive('teacher')">
    <div class="bamboo-part center-panel text body">
        <div class="row">
            <div class="col-md-6">
                <div class="text-panel panel panel-default">
                    <div class="panel-body">
    <p>Russian pianist, Elena Akopova, moved to the US <br>in 2007 to continue her piano studies at the San Francisco
    Conservatory of Music.
    <p>She was offered a place at Mack McCray’s studio and soon established herself in the Bay
    Area as an&nbsp;accompanist, a chamber music collaborator and a private piano/music theory teacher.
    <p>Within the
    framework of Master Degree Program in Piano Performance, Elena was admitted to the highly competitive Chamber
    Music Program at San Francisco Conservatory and was trained by Paul Hersh, Yoshikazu Nagai.
    <p>In the academic year 2008-2009 she held a position of SFCM Piano Department Assistant.
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <img src="img/lena_with_a_kid.jpg" class="img-responsive"/>
            </div>
        </div>

        <div class="row lowered">
            <div class="col-md-12">
                <div class="text-panel panel panel-default">
                    <div class="panel-body">
                        <p>Ms. Akopova received many awards in her native Russia. She is a laureate of Astrakhan National Piano Competition and Sochi Chamber Music Competition. She won also the International Competition of Young Performers in Jyväskylä, Finland.</p>
                        <p>Elena enjoys teaching the piano and has an extensive teaching experience. For two years she was a member of faculty at Krasnodar Music College as well as Krasnodar School of the Arts. Now, Elena is an active member of the Palo Alto Branch of the Music Teachers Association of California. She continues her passion teaching in the Bay Area.</p>
                        <p>Elena has taught at Golden Key Piano School (Berkeley), Community Music Center (SF), Aria Music Academy (SF), SF Friends School (SF), Pacific Music Academy (San Jose). Elena’s provides many opportunities for her students to participate in numerous musical events. Her students regularly compete at USOMC, MLOC, Russian Music Festival and win top prizes. Many of her students demonstrate excellent results at ABRSM and CM tests.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row lowered">
            <div class="col-md-6">
                <img src="img/conservatory_group.jpg" class="img-responsive img-thumbnail thumbnail-correction"/>
            </div>
            
            <div class="col-md-6">
                <div class="text-panel panel panel-default">
                    <div class="panel-body">
                        <p>Teaching adults at any level is Elena’s special gift she enjoys sharing with local professionals in Silicon Valley.</p>
                        <p>Ms. Akopova graduated from Krasnodar Conservatory of Music in 2007 and studied with Natalia Ziger and Nelly Mezglumova. Being a student, she took part in numerous master classes, including those conducted by Jose Ribera, Aleksey Skavronsky and Tat’yana Zagorovskaya.</p>
                        <p>Elena Akopova is a musician of broad and diverse interests. She made recordings for several documentary movies and visual presentations, including soundtracks for the movie “Maggots and Men” directed by Oakie Treadwell.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row lowered">
            <div class="col-md-12">
                <div class="text-panel panel panel-default">
                    <div class="panel-body">
                        <p>While living in SF, Elena worked as an intern at San Francisco Performances. She made a big contribution to several projects, including Marino Formenti’s solo piano recital/lecture. Elena supplemented his unique performance with high quality visual and sound materials illustrating the concepts presented by Mr. Formenti.</p>
                        <p>Apart her love to music, Elena is deeply interested in Assyrian art, language and culture and is passionate in knowing better her ancient roots.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="center-panel text">
        <div class="row">
          <div class="col-md-4">Education</div>
          <div class="col-md-8">San Francisco Conservatory of Music</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Master Studies in Piano Performance, 2007-2009</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">Krasnodar University of Culture and Arts, Russia</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Krasnodar Conservatory of Music, 2001-2007</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">(Master Studies in Piano Performance and Pedagogy)</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Music Collage by Rimsky-Korsakov, 1997-2001</div>
        </div>

        <div class="row lowered">
            <div class="col-md-4">Teaching/working</div>
            <div class="col-md-8">Pacific Music Academy (2012-present)</div>
        </div>
        <div class="row">
            <div class="col-md-4">Experience</div>
            <div class="col-md-8">Position: Piano instructor</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">San Francisco Conservatory of Music</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: Piano Department Assistant, 2008-2009</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">Golden Key Piano School, Berkeley, CA, 2008-2010</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: piano teacher</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">Community Music Center, SF 2009-2010</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: piano teacher</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">San Francisco Friends School, CA 2009-2010</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: piano teacher</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">Aria Music Academy: SF, 2009-2010</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: piano teacher</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">Krasnodar Music College, Russia</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: Teaching Assistantship, 2002-2003</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">Krasnodar School of Arts No. 10, Russia</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Position: piano teacher, 2002-2007</div>
        </div>

        <div class="row lowered">
            <div class="col-md-8 col-md-offset-4">San Francisco Performances: 2009 - internship</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">San Jose Rep. Theatre,  volunteer, 2005-2007</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Krasnodar Musical Theatre, stage manager 2002-2005</div>
        </div>

        <div class="row lowered">
            <div class="col-md-4">Competitions/</div>
            <div class="col-md-8">Marina Grin Award (piano),  2009  SFCM</div>
        </div>
        <div class="row">
            <div class="col-md-4">Awards</div>
            <div class="col-md-8">International Competition of Young Performers</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Jyväskylä, Finland – 1st prize</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Astrakhan National Piano Competition – special prize</div>
        </div>

        <div class="row lowered">
            <div class="col-md-4">Solo Recitals</div>
            <div class="col-md-8">Stockholm University, Sweden</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">San Francisco Conservatory of Music, USA</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Rostov-on-Don Conservatory of Music, Russia</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Krasnodar Municipal Hall, Russia</div>
        </div>

        <div class="row lowered">
            <div class="col-md-4">Chamber Music</div>
            <div class="col-md-8">Chamber Music Sochi Chamber Music Competition, Russia – 1st prize</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Rostov-on-Don Accompanying Contest, Russia – laureate</div>
        </div>

        <div class="row lowered">
            <div class="col-md-4">Principal Teachers</div>
            <div class="col-md-8">Mack McCray, Paul Hersh, Yoshikazu Nagai, Nelly Mezglumova</div>
        </div>

        <div class="row lowered">
            <div class="col-md-4">Master Classes</div>
            <div class="col-md-8">Angela Hewitt, Jose Ribera, Paul Hersh, Aleksey Skavronsky,</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4">Tat’yana Zagorovskaya.</div>
        </div>
    </div>

    <div class="bamboo-part center-panel text panel-footer"></div>
</div>

<div ng-show="index.isActive('lessons')">
    <div class="waves-part center-panel text container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2 lesson-block image-block">
                <img src="img/carousel2.jpeg" class="img-responsive"/>
            </div>
            <div class="col-md-2 lesson-block green-block">
                <span class="glyphicon glyphicon-user high-span" aria-hidden="true"></span><br/>
                Adult lessons
            </div>
            <div class="col-md-2 lesson-block">
                <span class="glyphicon glyphicon-send high-span" aria-hidden="true"></span><br/>
                3-5 yo children lessons
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2 lesson-block pink-block">
                <span class="glyphicon glyphicon-briefcase high-span" aria-hidden="true"></span><br/>
                Theory
            </div>
            <div class="col-md-2 lesson-block">
                <span class="glyphicon glyphicon-music high-span" aria-hidden="true"></span><br/>
                Classical Piano
            </div>
            <div class="col-md-2 lesson-block yellow-block">
                <span class="glyphicon glyphicon-headphones high-span" aria-hidden="true"></span><br/>
                Electronic Piano
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2 lesson-block green-block">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br/>
                Preparing for local competitions (CM test!) or local music festivals
            </div>
            <div class="col-md-2 lesson-block">
                <span class="glyphicon glyphicon-heart high-span" aria-hidden="true"></span><br/>
                Music study for pure enjoyment
            </div>
            <div class="col-md-2 lesson-block purple-block">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><br/>
                Piano performance workshop, preparing to a concert, communication
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2 lesson-block yellow-block">
                <span class="glyphicon glyphicon-facetime-video high-span" aria-hidden="true"></span><br/>
                Lessons via Skype
            </div>
            <div class="col-md-2 lesson-block image-block">
                <img src="img/elena.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-2 lesson-block">
                <span class="glyphicon glyphicon-eye-open high-span" aria-hidden="true"></span><br/>
                Free trial lessons
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<div ng-show="index.isActive('students')">
    <h1>Students</h1>
</div>

<div ng-show="index.isActive('calendar')">
    <h1>Calendar</h1>
</div>

<div ng-show="index.isActive('contact')">
    <h1>Contact</h1>
</div>

</span>
</body>
</html>